:root {
    --color-titulo-accordeon:#fff;
    --background-titulo:#4cad93;
    --background-contenido-accordeon:##f5f5f5;
    --background-caja-info:#00897b;
    --color-caja-info:#fff;
    --color-negrita:#00897b;
    --color-punto-lista:#00897b;
}