:root {
    --primario:#034959;
    --primario-opacidad:#034959b0;
    --secundario:#011C26;
    --secundario-opacidad:#011C26b0;
    --terciario:#F2DB92;
    --terciario-opacidad:#F2DB92b0;
    --cuarto:#F28705;
    --cuarto-opacidad:#F28705b0;
}
