:root {
    --primario:#bbd9a0;
    --primario-opacidad:#bbd9a0b0;
    --secundario:#255541;
    --secundario-opacidad:#255541b0;
    --terciario:#e19235;
    --terciario-opacidad:#e19235b0;
    --cuarto:#f0f0f0;
    --cuarto-opacidad:#f0f0f0b0;
    --blanco:#fff;
    --negro:#333;
}