:root {
    --color-titulo: #488080;
    --color-texto: #488080;
    --color-lista: #488080;
    --color-punto: #488080;
    --background-desplegable:#fff;
    --borde-desplegable:#488080;
    --texto-resaltado:#00897b;
  }