:root {
    --color-titulo: #33367c;
    --color-texto: #33367c;
    --color-lista: #33367c;
    --color-punto: #33367c;
    --borde-desplegable:#33367c;
    --background-desplegable:#f1f5f9;
    --texto-resaltado:#00897b;
  }